**/GreenWave_agg_h3_02_*.csv
**/h3_02_temperature_*.csv
**/*Trophic_Level*
#**.pkl
*.pyc
data/D03.smoothed_peaks/all_smoothed_peaks_spring.csv
data/D02.wave_peak/all_birdwave_greenwave_peak.csv
data/D02.wave_peak/all_birdwave_peak.csv
data/D10.Explaining_sensitivity_regression/*sensitivity.pkl
